@import "tailwindcss";

/*
https://tailwindcss.com/docs/installation/using-vite

--- Flex ---
flex            |       Utility for controling how flex items both grow and shrink
flex-col        |       Position flex vertically (column)
flex-1          |       Allow flex items to grow and shrink as needed
flex-wrap       |       Allow flex items to wrap
items-center    |       Align items / Center vertically
justify-center  |       Justyfy items / Center horizontally
justify-between |       Justify content space between

--- Width ---
w-full          |       Element width takes full container space
max-w-4xl       |       Fixed maximum element width 56rem (896px)
max-w-md        |       Fixed maximum element width 28rem (448px)
w-12            |       Width 12px

--- Height ---
h-12            |       Height 12px
min-h-screen    |       Minimum screen height size

--- Padding ---
p-4             |       Padding all sides 4px
px-3            |       Horizontal padding 3px
py-2            |       Vertical padding 2px

--- Margin ---
mt-4            |       Margin top 4px
mb-2            |       Margin bottom 2px
mx-auto         |       Horizontal margin elements 

--- Gap ---
gap-3           |       Gap between columns and rows
gap-x-4         |       Gap between columns 
gap-y-8         |       Gap between rows

--- Background ---
bg-red-500      |       Red (500) background color
bg-blue-600     |       Blue (600) background color 
bg-emerald-700  |       Moderate dark emerald (700) background color
bg-slate-900/80 |       Dark slate (900) background color with 80% opacity
bg-white/10     |       White background color with 10% opacity
bg-gradient-to-b|       Background gradient (from-color-###) (to-color-###) bottom

--- Border ---
border-b        |       Border bottom
border-red-500  |       Red (500) borders   
border-2        |       Border width 2px
border-white/30 |       White borders with 30% opacity
rounded-full    |       Full rounded (pill button)  
rounded-xl      |       Rounded button 12px

--- Box Shadow ---
shadow-lg       |       Good visible outer box shadow
drop-shadow-lg  |       Good visible drop shadow (best for irregular shapes)

--- Text ---
text-lg         |       Big font size 18px 
font-bold       |       Font-weight: 700
text-red-500    |       Red (500) text color
text-white/90   |       White text color with 90% opacity
text-center     |       Centred text
select-none     |       Prevent selecting text

--- Filter ---
backdrop-blur-md|       Backdrop blur filter 12px  

--- Transform ---
transition      |       Utility for controlling which CSS properties transition
transition-transform|   Shorthand for transforming
duration-150    |       Transition duration in ms   
scale-105       |       Utility for scaling element in 105%

--- Conditional Styles ---
hover:          |       Applying on hover over element
focus:          |       Applying on focus element
active:         |       Applying on active element
*/
